/* how to declare a variable in css */
:root {
    --card-width: 100%;
    --card-height: 30rem;
}

.work-container {
    max-width: 100%;
    padding-bottom: 5rem;
    /* center everything inside work-container based on screen width */
    display: flex;
    justify-content: center;
    margin: auto;

}

.project-container {

    max-width: 100%;
    margin: 5rem 0.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding-bottom: 5rem;
}

.project-card {
    background: #1a1919;
    padding: 1.2rem 1rem;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: var(--card-width);
    height: var(--card-height);
    box-shadow: rgba(245, 246, 246, 0.25) 0px 25px 50px -20px,
        rgba(255, 255, 255, 0.3) 0px 15px 30px -60px;
    animation: 1s ease-out calc(1s * var(--i)) both 1 slideInLeft;

    
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-150%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.project-card img {
    width: 100%;
    height: 55%;
    border-radius: 5%;
}

.project-title {
    color: #fff;
    padding: 1rem 0;
}

.pro-details p {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-justify: center;
}

.pro-btns {
    position: absolute;
    top: 92%;
    /* center the button */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 30%;

}

.pro-btns .btn {
    border: none;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    /* animation with delay 0.5 */
    animation: 1s ease-out 0.5s both 1 appearAnim;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}
@media screen and (max-width: 640px) {
    .project-container {
        max-width: 90%;
        margin: auto;

        grid-template-columns: 1fr;
    }
}